
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.me-auto{
    display: flex;
    flex-direction: row
}
h1{
    margin-right: 20px;
}
h2{
    text-align: center;
}
h5,h6{
    margin-left: 50px;
}

p {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 35px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify; 
}
ul{
    font-family: 'Roboto', sans-serif;
    line-height: 55px;
}